body {
    margin: 20px;
    background: black;
    color: #9b2915 ;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    border: solid #911149;
    width: 300px;
    height: 300px;   
}

.container {
    display: flex;
    justify-content: space-around;
    
}

.points {
    font-family: Sf Digital Readout;
    color: #e06c9f;
    font-size: 50px;
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
    margin-top: -15px;
    border: dotted; 
    
}

.addHomePoints {
    font-size: 15px;
    background: #e06c9f;
    font-family: Sf Digital Readout;
     
}

.addGuestPoints {
    font-size: 15px;
    background: #e06c9f;
    font-family: Sf Digital Readout;
     
}



.bottom-container{
    display: flex;
    justify-content: center; 
    margin-top: 40px;
 
}

.btn {
    color: pink; 
    background-color: #922d50;
    border-radius: 5px;
    
    